/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}
.gallery img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.gallery img.visible {
    opacity: 1;
    transform: translateY(0);
}
img {
    height: 100%;
    width: 100%;
}
@media (max-width: 992px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media (max-width: 576px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
} */
 
body {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background-color: whitesmoke;
}



/* a {
    color: white !important;
} */
/* div . {
    padding-top: 10px;
    padding-bottom: 10px;
} */

.navbar {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.15) !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.content {
    padding-top: 4rem;
    /* padding-bottom: 2rem; */
    padding-left: 17.5rem;
    padding-right: 17.5rem;

    
    text-align: justify; /* aligns ends at the same x-position */
}
.gallery {
    column-count: 3;
    column-gap: 1rem;
}
.gallery img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    display: block;
    opacity: 0;
    transform: translateY(1.5rem);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.gallery img.visible {
    opacity: 1;
    transform: translateY(0);
}

.heading-img {
  height: 100vh;
}
.heading-img img {
  height: 100%;
  object-fit: cover;
}
.carousel-caption {
    top: 60%;
    transform: translateY(-60%);
}
.carousel-caption h1 {
    font-family: "Cormorant Garamond", serif;
}



@media (max-width: 768px) {
    .gallery { column-count: 2; }
}
@media (max-width: 480px) {
    .gallery { column-count: 1; }
}