---
layout: base.njk
title: LTClark Photography
navbarClass: navbar-light
activeNav: about
permalink: /about.html
---

<div class="heading-img section bg-light text-center" style="margin-bottom: 60vh;">
    <img class="d-block w-100" src="/assets/images/project/IMG_7072.JPG" alt="Header Image" loading="eager" decoding="async">
    <div class="position-absolute top-50 start-50 translate-middle text-light">
        <h1 class="display-5 fw-bold">About Me</h1>
    </div>
    <img class="portrait" src="/assets/images/portrait.JPG" alt="Portrait image" loading="lazy" decoding="async">
</div>

<div class="container-fluid content section bg-light h4">
    <div class="row ga-6 justify-content-center">
        <div class="col-4 p-4">
            Hi, my name is Lauren Clark! I am a recent graduate of the College of the Holy Cross, where I studied Sociology, and fell in love with photography through enrollment in Photo 1, Photo 2, and Darkroom Photography courses. I love the creative outlet that photography provides to freeze little moments that might otherwise slip by—the rush of an athlete mid-race, the laughter between teammates, or the quiet details that give a place its character.
        </div>
    </div>

    <div class="row ga-6 justify-content-center">
        <div class="col-4 p-4">
            Much of my work is in sports, where I capture the intensity, energy, and community of athletics. I've spent hours on the sidelines photographing track and field, cross country, lacrosse, baseball, and team portraits, and I love finding the balance between action and emotion. I also enjoy stepping outside of sports—documenting travel, portraits, and special events.
        </div>
    </div>

    <div class="row ga-6 justify-content-center">
        <div class="col-4 p-4">
            Alongside digital work, I enjoy shooting with film. Its slower, more intentional process challenges me to see light and composition differently, and I value the timeless quality it brings to an image.
        </div>
    </div>

    <div class="row ga-6 justify-content-center">
        <div class="col-4 p-4">
            For me, photography isn't just about taking pictures—it's about creating something meaningful out of the daily, split second moments that often go unnoticed.
        </div>
    </div>

    <div class="row ga-6 justify-content-center">
        <div class="col-4 p-4">
            Thanks for stopping by—I'd love to connect and help capture the stories that matter most to you!
        </div>
    </div>
</div>
